* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

#title {
    background-color: dimgrey;
    height: 145px;
    width: 100%;
}

#root {
    height: -webkit-calc(100% - 145px);
    width: 100%;
    overflow: auto !important;
}

#MainPageArea {
    margin-left: 55px;
    transition: margin-left 0.2s linear;
    -webkit-transition: margin-left 0.2s linear;
    transform: translateZ(0) scale(1, 1);
    -webkit-transform: translateZ(0) scale(1, 1);
}