#SensorChartArea {
    position: absolute;
    top: 15px;
    left: 50%;
    height: 300px;
    width: 98%;
    border: 3px solid #916dd5;
    border-radius: 10px;
    transform: translate(-50%, 0);
}

#SensorDataShow {
    position: absolute;
    top: 0;
    left: 0;
    width: 189px;
    height: 300px;
    background-color: gray;
}

#SensorRTChart {
    top: 50%;
    left: 200px;
    transform: translate(0, -50%);
    height: 250px;
    width: -webkit-calc(100% - 400px);
}